#ignoring the node_modules and other unnecessary files
*/node_modules/*
*/.git/*
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.DS_Store
*/.idea/*
*/.vscode/*
*/.vs/*
*/.nyc_output/*
*/coverage/*
*/.nyc_output/*
*/.eslintcache/*
*/.eslintrc.js
*/.prettierrc.js
*/.prettierignore
*/.huskyrc.js
*/.lintstagedrc.js
*/.github/*
*/.travis.yml
*/.gitlab-ci.yml
*/.gitlab/*
*/.gitlab-ci.yml
*/.gitlab/*
*/.gitlab/*
*/.gitlab/*
*/.
*/.git
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.DS_Store
*/.idea/*
*/.vscode/*
*/.vs/*
*/.nyc_output/*
